@import "@/project.css";

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.about,
.study,
.video {
  margin-bottom: 40px;
}

h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--fontColors);
}

p {
  margin-bottom: 20px;
  line-height: 2;
  font-size: 18px;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  text-align: center;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 55px;
}

@media screen and (max-width: 640px) {
  p {
    font-size: 14px;
  }
}
