* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --white: #fff;
  --black: #000;
  --backgroundMain: #f7f5dc;
  --backgroundNav: #557b6d;
  --fontColors: #ff8800;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--backgroundMain);
}
